---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import Testimonials from '../components/Testimonials.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Instagram from '../components/Instagram.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Services />
    <Gallery />
    <Testimonials />
    <About />
    <Instagram />
    <Contact />
  </main>
  <Footer />
</Layout>
